#page-wrap > div:first-child {
  position: absolute;
  height: 100%;
  z-index: 1000;
  top: 0;
}

.floating-menu-btn {
  z-index: 9999;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}

.view-container{
  -webkit-transition: padding 0.5s;
  -moz-transition: padding 0.5s;
  -o-transition: padding 0.5s;
  transition: padding 0.5s;
}

.bm-cross-button {
  display: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 4px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #202020;
  padding: 2.5em 2em 0 1.5em;
  font-size: 1.15em;
}

#outer-container {
  position:relative;
}

.bm-menu-wrap {
  z-index: 1499 !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute !important;
}

.bm-burger-button {
  display: none;
}

.scroll-notifier {
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px;
}

.issue-list {
  padding: 0;
  margin: 0;
}

.issue-list li {
  display: block;
  text-decoration: none;
  border-top: '1px solid #aaa';
  padding: 10;
}
